html * {
    color: #e0e1dd;
    font-family: 'Roboto', cursive !important;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #9EB384;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
}

h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
}

canvas {
    border: 1px solid #435334;
    width: 90%;
    height: 100%;
}

footer {
    background-color: #435334;
    color: white;
    text-align: center;
    padding: 0.5rem;
}

button {
    margin: 5px;
    padding: 10px 30px 10px 30px;
    border-radius: 25px;
    border: none;
    background: #3c4a2e;
    transition: background-color 50ms ease-out 50ms;
    font-size: 20px;
}

button:hover {
    background: #9EB384;
}

#toggleButton {
    background: #557A46;
}

#toggleButton:hover {
    background: #7A9D54;
}

#nextButton {
    background: #053B50;
}

#nextButton:hover {
    background: #1d4e61;
}

#resetButton:hover, #clearButton:hover {
    background: #C08261;
}

#resetButton, #clearButton {
    background: #9A3B3B;
}


#brushSizeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-left: 40px;
    margin-right: 40px;
}

#brushSizeLabel {
    margin: 0 20px;
}

#controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="range"] {
    margin-bottom: 15px;
    margin-top: 25px;
    appearance: none;
    border-radius: 25%;
    width: 100%;
    height: 10px;
    background-color: #FAF1E4;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #9EB384;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #9EB384;
    cursor: pointer;
}
